<div class="container mt-5 pt-4">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h4>Cart Info</h4>
    </div>
    <div *ngIf="shoppingCartItems.length === 0" class="col-md-12">
      <h4>You have no items in the shopping cart</h4>
    </div>
    <div *ngIf="shoppingCartItems.length > 0" class="table-responsive">
      <table class="table border-light">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of shoppingCartItems">
          <td class="align-middle"><button class="btn btn-sm btn-secondary" (click)="removeFromCart(item)">Remove</button></td>
          <td class="align-middle"> <img class="img-fluid" src="{{item.product.img}}" style="max-width: 150px"></td>
          <td class="align-middle">{{item.product.title}}</td>
          <td class="align-middle">{{(item.product.price * item.quantity) |number : '1.2-2'}}</td>
          <td class="align-middle">
            <div class="d-flex justify-content-between align-items-center border border-light">
              <button class="btn btn-sm btn btn-outline-secondary" type="button" (click)="incrementQty(item, item.quantity)">
                <i class="fa fa-plus"></i>
              </button>
              <span class="mx-1">
                {{item.quantity}}
              </span>
              <button class="btn btn-sm btn btn-outline-secondary" type="button" (click)="substractQty(item, item.quantity)">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <td colspan="4" align="right" class="align-middle">Total</td>
        <td class="align-middle"><h4>${{totalPrice}}</h4></td>
        </tfoot>
      </table>
      <div class="col-md-12">
        <div class="p-3">
          <button (click)="clearCart()" class="btn btn-outline-secondary">Clear cart</button>
          <button routerLink='/home/checkout' class="btn btn-primary text-uppercase float-right ml-4">Check out</button>
          <button routerLink='/home/collection' class="btn btn-outline-primary text-uppercase float-right">Continue Shopping</button>
        </div>
      </div>
    </div>

  </div>
</div>
