<div class="container">
  <!-- Button trigger modal -->
  <div class="col-md-12 py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add product
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="prodForm">
              <div class="form-group">
                <label for="">Title</label>
                <input type="text" formControlName="title" id="title" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Price</label>
                <input formControlName="price" id="price" type="text" class="form-control">
              </div>
              <div class="form-group">
                <p class="mb-1">Image</p>
                <input formControlName="img" type="file">
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <textarea formControlName="description" class="form-control" name="" id="" cols="30" rows="5"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="addProduct()" class="btn btn-primary" data-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productData">
      <td class="align-middle"><img class="img-fluid" [src]="product.img" alt="" width="50"></td>
      <td class="align-middle">{{product.title}}</td>
      <td class="align-middle">{{product.price}}</td>
      <td class="align-middle">
        <div class="d-flex justify-content-between">
          <button (click)="deleteProduct(product.id)" class="btn btn-sm btn-secondary">
            <i class="fa fa-trash"></i>
          </button>
          <button (click)="editProduct(product)" data-toggle="modal" data-target="#editModal" class="btn btn-sm btn-secondary">
            <i class="fa fa-pencil"></i>
          </button>
          <button data-toggle="modal" data-target="#modalView" (click)="getProduct(product.id)" class="btn btn-sm btn-secondary">
            <i class="fa fa-eye"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Add product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="product" class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="">Title</label>
            <input ngModel name="title" type="text" [value]="product.title" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input ngModel name="price" [value]="product.price" type="text" class="form-control">
          </div>
          <div class="form-group">
            <p class="mb-1">Image</p>
            <input ngModel name="img"  type="file">
          </div>
          <div class="form-group">
            <label for="">Description</label>
            <textarea ngModel name="description" [value]="product.description" class="form-control" cols="30" rows="5"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="saveChanges(editForm)" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="product" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>{{product.title}}</h4>
        <p>{{product.description}}</p>
        <h3>{{product.price}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="deleteProduct(product.id)" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="ordersData.length > 0">
  <h4>Orders</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Total items</th>
      <th scope="col">Total amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of ordersData">
      <th class="align-middle" scope="row"></th>
      <td class="align-middle">{{order.details.name}}</td>
      <td class="align-middle">{{order.products.length}}</td>
      <td class="align-middle">${{order.total}}</td>
    </tr>
    </tbody>
  </table>
</div>

