<div class="container mt-5 pt-4">
  <div class="row mb-3">
    <div *ngIf="message" class="col-md-12 d-flex align-items-center">
      <h5 class="text-success text-center">{{message}}</h5>
    </div>
    <div class="col-md-6">
      <form *ngIf="!message" [formGroup]="checkoutForm">
        <div class="form-group">
          <label for="name">Full name</label>
          <input formControlName="name" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input formControlName="address" id="address" class="form-control">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input formControlName="city" id="city" class="form-control">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input formControlName="country" id="country" class="form-control">
        </div>
        <div class="form-group">
          <button [disabled]="!checkoutForm.valid" (click)="placeOrder()" class="btn btn-outline-success text-uppercase">Place order</button>
        </div>
      </form>
    </div>
    <div *ngIf="cartItems.length > 0" class="col-md-6">
      <div class="border border-light bg-light" style="max-height: 400px; overflow: auto">
        <div *ngFor="let product of cartItems" class="col-md-12 py-2">
          <div class="d-flex justify-content-between py-1 align-items-center bg-white">
            <div>
              <img [src]="product.product.img" alt="" width="50">
            </div>
            <div>
              {{product.product.title}}
            </div>
            <div>
              <span class="px-2">x {{product.quantity}}</span>
              <span class="px-2">${{product.quantity * product.product.price}}</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-12 py-3 clearfix border">
        <div class="float-right">
          <strong>Total: ${{cartTotal}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
