
<div class="container">
  <form #f="ngForm" class="col-md-5 form-group mx-auto clearfix">
    <div class="form-group">
      Login credentials: <br>
      test@test.com <br>
      test123
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel type="text" class="form-control" name="email" id="email">
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input ngModel type="password" class="form-control" name="password" id="password">
    </div>
    <div *ngIf="message" class="col-md-12">
      <p class="text-danger">{{message}}</p>
    </div>
    <div class="form-group clearfix">
      <button (click)="loginWithEmailAndPass(f)" class="btn btn-block btn-primary float-right" type="submit" [disabled]="!f.valid">Login</button>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 my-2 text-center">
      <button (click)="loginWithGoogle()" class="btn btn-outline-dark btn-sm">Login with Google</button>
    </div>
  </div>
</div>


