/* You can add global styles to this file, and also import other style files */

.clickable:hover {
  cursor: pointer;
}

.qty-field {
  max-width: 60px;
}

.loading-icon {
  background-image: url("./assets/loading/Loading_icon.gif");;
}
